

body {
    background-color: rgb(28, 27, 29);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul li  {
    color: green;
    font-size: 18px;
    text-align: center;
    list-style-position: inside;
    margin-bottom: 15px;
}

ol li  {
    color: green;
    font-size: 18px;
    text-align: center;
    list-style-position: inside;
    margin-bottom: 15px;
}

.title,
.desc,
h1
{
    color: red;
    text-align: center
}
p {
    text-align: center; 
    color: green
    ;
}

img {
        display: block;
        margin: auto 
    }